body main { background: url("https://cdn.shopify.com/s/files/1/0674/5014/2887/files/Guide-capilaire-v2.jpg?v=1745785148") repeat-y fixed top; }
.template-page-haircare-finder .wt-page { padding-top:100px; padding-bottom: 100px; }
.template-page-haircare-finder .content-container{ border-radius: 0px;  background: #fff; padding-top: 6.875rem;  padding-bottom: 6.875rem; color: #000;  text-align: center; position: relative;}
.template-page-haircare-finder .wt-page__title  { color: #000; text-transform: uppercase; width: 100%; }
.hf-begin { background: #F0F0F0; color: #000;  letter-spacing: 0.2rem; padding: 30px; transition: .3s; text-transform: uppercase;  }
.hf-begin:hover { background: #000000; color: #fff;  letter-spacing: 0.2rem; padding: 30px; transition: .3s;  }
.index-container  { display: flex; width: 100%; flex-wrap: wrap; justify-content: center; }
.index-container.visible { display: flex; } 
.h1{ font-size: min(calc(var(--font-headline-size) * var(--font-headline-scale-desk, 1)),calc(var(--font-headline-size) + 2.5vw)); text-transform: uppercase; margin-bottom: 20px; }
.h2 { font-size: 24px; text-transform: uppercase; margin:0px; }
.choices { display: flex; gap: 30px; padding:20px; }
.hf-choice.img { width: 100%; }
.hf-choice .name { text-align: left; text-transform: uppercase; font-size: 14px; float:left; }
.hf-choice:hover { opacity: 0.5; transition: .3s; }
.choices img { width: 100%; height: auto; }
.step { display: none; }
.step.visible { display: block; transition: .3s; }
#step3 .choice-btn-container { display: none; }
#step3 .choice-btn-container.visible { display: grid; }
.hidden { display: none; transition: .3s; }
.visible { display: block ; }
.back  { text-align: left; padding: 20px; font-size: 14px; cursor: pointer; text-transform: uppercase; }
.hf-choice * { color: #ffffff; }
.choice-btn-container { display: grid; gap: 20px; padding: 20px; max-width: 80%; margin: auto; margin-top: auto; margin-top: 20px;}
.choice-btn-container span { letter-spacing: 0.2125rem; text-transform: uppercase; color: #000; width: 100%; padding: 20px 10px; background: #F0F0F0; cursor: pointer; border: 1px solid #ffffff; transition: .3s; }
.choice-btn-container span:hover{ background: #AE9188; color: #fff; transition: .3s;  }
.back-container { display: flex; justify-content: space-between; } 
#routine-process-list.visible + .h2 { display: none; }
.card.card--left .card__title{color:#000000;}
.custom_group_product_list .price-item.price-item--sale.price-item--last.wt-product__price__final{color:#000000;}
@media (max-width: 1000px) {
  .choices { flex-wrap: wrap; gap: 4%; }
  .choices .hf-choice.img { width: 48%;  }
}