.custom-multicol .wt-multicol .wt-multicol__item:nth-child(2) .hero__pic { display: none; }
.custom-multicol .wt-multicol__list { align-items: center; }
.custom-multicol .hero__overlay .hero__overlay__content { display: grid; justify-content: center; text-align: center; }
.custom-multicol .hero__button--gap { display: flex; justify-content: center;}
.custom-multicol .wt-multicol__wrapper  { padding-top:0px; }
.custom-multicol .text2 p{font-family:"Lexend Giga" !important; font-weight: 400; letter-spacing: 0.5 !important; font-size: 14px; }
.custom-multicol .text3 p {font-family:"Lexend Giga" !important; font-weight: 400; letter-spacing: 0.5 !important; font-size: 32px; line-height: initial; }
.custom-multicol .text3 p strong { font-weight: 400 !important; color:#dc392e; }
.custom-multicol .hero__pic {  border-radius: 14px; }
.custom-multicol .hero .hero__pic .hero__img { mix-blend-mode: multiply; border-radius: 14px; }